@tailwind base;
@tailwind components;
@tailwind utilities;

.collapsible {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active, .collapsible:hover {
    background-color: #f1f1f1;
}

.content {
    display: none;
}

.hidden {
    display: none;
}
